<div>
Welcome to the show !
</div>
<div>
<%=@list.name%>
</div>

<%# Affichage des films et les commentaires associés %>
<div>
  <div>
    <% @list.movies.each do |movie|%>
      <ul>
          <li>
            <%= movie.title %>

            <%= link_to bookmark_path(Bookmark.find_by(movie: movie, list: @list)),
                data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?" } do %>

              <i class="fa-solid fa-xmark"></i>
            <% end %>
          </li>
      </ul>
    <%end%>
  </div>
 <%=link_to "Add New Bookmark", new_list_bookmark_path(@list)%>
</div>



<%=link_to "Back to the List", lists_path%>
